* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
/* homepage style */

.hero {
  display: block;
  height: 100vh;
  /* margin: 2%; */
  padding: 10%;
  background-image: url("./hero.jpg");
  background-size: 100%;
}
.hero h1 {
  color: #2b880d;
  float: right;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 200px;
}
.hero h2 {
  color: #2b880d;
  float: left;
  margin-top: 75px;
  margin-left: 80%;
}
.hero button {
  width: 85px;
  height: 35px;
  background-color: #1ee825;
}

/* Header Styles */
.header {
  background-color: #a0dd8c;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-end;
}
.header .logo {
  padding: 10px;
  margin-right: auto;
}
.header ul {
  font-size: 2rem;
}
.header ul li {
  display: inline-block;
  padding: 15px;
  font-size: medium;
}
.footer {
  position: fixed;
  background-color: #a0dd8c;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 35px;
  padding: 10px;
}

/* Signup Page Styles  */

.input {
  background-color: rgb(207, 243, 186);
  height: 35px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
}
.input:focus {
  outline: 1px solid rgb(192, 245, 187);
  background-color: rgb(249, 250, 252);
}
.label {
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  margin-bottom: 8px;
}
.btn {
  background-color: rgb(192, 245, 187);
  width: 100px;
  height: 35px;
  margin: 20px;
  font-size: medium;
  border: 2px solid gray;
  border-radius: 15px;
}
.signup-page {
  border: 1px solid black;
  border-radius: 15px;
  padding: 3.5%;
  display: flex;
  margin: auto;
  margin-top: 25px;
  width: 50%;
  box-shadow: 10px 10px rgb(185, 187, 185);
  text-align: center;
}
.signup-page h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}
.signup-page form {
  margin: auto;
  width: 100%;
}

/* Login Page Styles  */

.login-page {
  border: 1px solid black;
  border-radius: 15px;
  padding: 3.5%;
  display: flex;
  margin: auto;
  margin-top: 25px;
  width: 50%;
  box-shadow: 10px 10px rgb(185, 187, 185);
  text-align: center;
}

.login-page form {
  margin: auto;
  width: 100%;
}

.login-page h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* dashboard styles */
.dashboard {
  display: flex;
}
.dash-content {
  width: 50%;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
}
.dash-content h2 {
  margin-top: 35%;
  margin-left: 35%;
}

/* stock page styles */
.outercontainer {
  display: flex;
}

.stockspage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12%;
  padding: 2%;
  width: 60%;
  height: 60%;
  border: #80cb82 solid;
  border-radius: 25px;
  background-color: #80cb82;
}

.stockspage h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.stockspage h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.stockspage .quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stockspage .quantity-container label {
  margin-right: 10px;
}

.stockspage .quantity-container input {
  width: 50%;
  height: 20%;
  text-align: center;
}

.stockspage .action-container {
  display: flex;
  justify-content: center;
}

.stockspage .action-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #054805;
  color: rgb(243, 245, 243);
  border: none;
  cursor: pointer;
}

.stockspage .action-container button:hover {
  background-color: #1ee825;
}

/* watchlist styles */
.watchlist {
  background-color: #d6f3cc;
  height: 100vh;
  width: 25%;
}
.search input {
  width: 100%;
  height: 35px;
  background-color: #d6f3cc;
  border: 1px solid black;
  padding-left: 25px;
}
.stock-list {
  background-color: #80cb82;
  display: flex;
  padding: 25px;
  text-align: left;
  margin-bottom: 2px;
  cursor: pointer;
  justify-content: space-between;
}
.stock-list h4 {
  transition: 0.5s;
}
.stock-list span {
  color: #2b880d;
  font-size: small;
}
.stock-list h4:hover {
  scale: 1.2;
}
.stock-list button {
  background-color: #c2e9b6;
  font-size: large;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
}

.search-list {
  display: flex;
  width: 100%;
  height: 15vh;
  background-color: #f0eff2;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.search-list button {
  background-color: #a0dd8c;
  text-align: center;
  font-size: xx-large;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10%;
  cursor: pointer;
}
.hidden {
  display: none;
}

/* portfolio style */

.portfolio {
  display: flex;
  justify-content: flex-start;
}
.portfolio-details h2 {
  display: block;
  text-align: center;
}
.portfolio-details table {
  width: 1000px;
  margin: 25px;
  justify-content: start;
  text-align: center;
}

.portfolio-details table tr {
  display: flex;
  justify-content: space-evenly;
}

.portfolio-details table tr th {
  padding: 25px;
}
.portfolio-details tr td {
  padding: 25px;
}

/* order page style */

.orders {
  display: flex;
  justify-content: flex-start;
}
.orders-details h2 {
  display: block;
  text-align: center;
}
.orders-details table {
  width: 1000px;
  margin: 25px;
  justify-content: start;
  text-align: center;
}

.orders-details table tr {
  display: flex;
  justify-content: space-evenly;
}

.orders-details table tr th {
  padding: 25px;
}
.orders-details tr td {
  padding: 25px;
}

/* addfund styling */

.account-balance {
  background-color: #80cb82;
  padding: 5rem;
  margin: 5rem;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

/* Footer Styles */

.footer {
  margin-top: 10px;
}
